[submodule "dependencies/vlfeat"]
	path = dependencies/vlfeat
	url = https://github.com/vlfeat/vlfeat.git
[submodule "dependencies/matconvnet"]
	path = dependencies/matconvnet
	url = https://github.com/zhanghang1989/matconvnet.git
